body {
    background-color: dimgray;
    min-height: 100vh;
}

#container {
    align-content: center;
    max-width: 1000px;
    margin: auto;
    background-image: url("images/newspaperBlur1.png");
    background-repeat:repeat-y;
    align-items: center;
    min-height: 100vh;
}

.uk-card {
    margin: 50px 100px;
}

.loginBox {
    margin:0px;
    
}

#navButtons {
    margin-left: 25px;

    
}

#displayData {
    text-align: center;
    padding: 0px;
    background-color:rgb(77, 77, 77);
    color: white;
    padding: 5px;
    border-radius: 7px;
    
}

footer {
    background-color: lightgray;
    color: gray;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    left: 0%;
 }
 #footerSpan {
    margin-left: auto;
    margin-right: auto;
    align-content: space-evenly;
 }

 footer a  {
     text-decoration: none;
 }

