body {
    background-color: dimgray;
    min-height: 100vh;
}

#container {
    align-content: center;
    margin: auto;
    background-image: url("images/newspaperBlur1.png");
    align-items: center;
    min-height: 100vh;
    background-position-x: center;
    background-size: 100vw;

}

.uk-card {
    margin: 50px 100px;
}

.loginBox {
    margin:0px;
    
}

#navButtons {
    margin-left: 25px;

    
}

#displayData {
    text-align: center;
    padding: 0px;
    background-color:rgb(77, 77, 77);
    color: white;
    padding: 5px;
    border-radius: 7px;
    opacity: .97;

    
}


@media only screen and (max-width: 600px) {

    .navBarDiv {
        display: flex;
        flex-direction: column;
    }
    .navBarIcons {
        display: flex;
        flex-direction: column;        
    }
    #dateInput {
        margin-right: 100vh;
    }
    #sectionName{
        margin-right: 100vh;
    }
    #submitSearchButton{
        margin-top: 2vh;
    }
    .relevantArticles{
        margin-left: 2vw;
        margin-right: 2vw;
    }
  }